<h2>Directions</h2>

<a href="" class="btn">Save Trip</a>

<div class="content">
  <% if @json %>
    <% @json["routes"].each_with_index do |route, index| %>
      <h3>Route <%= index+1 %>:</h3>
      <p>Start: <%= route["legs"][0]["start_address"] %></p>
      <p>End: <%= route["legs"][-1]["end_address"] %></p>
      <p>Steps:</p>
      <ol>
        <% route["legs"].each do |leg| %>
          <% leg["steps"].each do |step| %>
            <li>
              <strong><%= step["travel_mode"] %></strong>
              <%= step["html_instructions"] %>
              <% if step["transit_details"] %>
                <br/>
                Get on
                <strong><%= step["transit_details"]["line"]["short_name"] + " " + step["transit_details"]["line"]["vehicle"]["name"] %></strong> at <strong><%= step["transit_details"]["departure_stop"]["name"] %></strong>
                and get off at <strong><%= step["transit_details"]["arrival_stop"]["name"] %></strong>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
      <p><%= route["copyrights"] %></p>
    <% end %>

    <h4>Raw JSON</h4>
    <%= @json %>
  <% end %>
</div>
