<div class="container-fluid show">
      <div class="span5 trips-info-container">
        <div id="trip" class="content">
          <h6 style="margin-left: 5px;"><%= @trip[:origin_name] %> <br/>
          to <br/>
          <%= @trip[:destination_name]%></h6>
          <ul id="routes">
          <% @trip.routes.each do |route| %>
            <li>
              <div class="route-summary">
                <span class="snapshot">
                  <%= route_icons(route[:snapshot]) %>
                </span>
                <span class="time range">
                  <%= Time.at(route[:start_time]).to_time.strftime('%l:%M%P')  if (route[:start_time] > 0) %> -
                  <%= Time.at(route[:end_time]).to_time.strftime('%l:%M%P') if (route[:end_time] > 0) %>
                </span>
              </div>
              <% json = JSON.parse(route[:response]) %>
              <ul class="steps">
              <% json.each do |step| %>
                <li>
                  <div>
                  <div class="rt-info-bucket">
                    <span class="instructions">#<%= step["line"] %><%=  step["html_instructions"] %></span>
                    <span class="route-duration"><%= step["duration"] %><span>
                  </div>
                  <div class="rt-timer-bucket">
                    <%= real_time_container(step) %>
                  </div>
                </div>
                </li>
              <% end %>
              </ul>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    <div id="map-canvas"/>
  </div>
